<nav class="nav-bar">
    <div class="nav"> Room {{venue.id}} </div>
</nav>
<div class="sub_nav">
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/">Create Reservation</a></li>
        <li><a href="/">Edit Reservation</a></li>
        <li><a href="/">Delete Reservation</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</div>
<div class="content">
    <div class="room-detail">
        Welcome To Room {{venue.id}}

        Room Capacity: {{venue.capacity}}
    </div>
    <div class="calendar-view">
        View Calendar/Availability Section

        <img href ="/calendar/{{venue.id}}" src = "./assets/calendar-filler.png">
        See availability for Room {{venue.id}}
    </div>
</div>
<script></script>