<nav class="nav-bar">
  <img class="logo" src="/assets/gnlogo.png" />
  <div class="nav"> Welcome to the {{venue.name}} </div>
</nav>
<div class="sub_nav">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</div>
<div class="content">
  <div class="about-room">
    About the
    {{venue.name}}
    <div class="room-detail">
      <br />
      Room Capacity:
      {{venue.capacity}}
      <br />
      Computer:
      {{venue.computer}}
      <br />
      Projector:
      {{venue.projector}}
      <br />
      <br />
      {{venue.description}}
      <br />
      <img src="/assets/{{venue.id}}.jpeg" style="width: 100%" />
    </div>
  </div>
  <div class="calendar-view">
    View Calendar/Availability Section

    <a class="calendar-link" href="/calendar/">
      <img class="calendar-filler" src="/assets/calendar-filler.jpeg" />
    </a>
    See availability for the
    {{venue.name}}
  </div>
</div>
<script src="./js/logout.js"></script>